.reg{
    .regSlika{
        background-image:url('https://blog.hubspot.com/hubfs/registration-form-template.jpg');
        height: 150px;
        background-size:100% 100%;
        margin:12%;
        margin-bottom: 0px;
        margin-top: 0px;
        

background-repeat: no-repeat
    }

    .validacija{
        color:red;
        font-size: small;
    }

}