.stanar{
    
    width: 100%;
    padding-top: 3%;
    text-align: center;
  
    color:rgba(255, 255, 255, 0.918);
   
   
   
   
   
    .forma{
        color:black;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
       
        padding-left: 5%;
        padding-right: 5%;
        border-radius: 10px;
        width: 45%;
        padding-top: 3%;
        padding-bottom: 3%;
        margin-bottom: 5%;
        font-size: large;
        
        background-color: #F5F5F5;
        border:2px solid whitesmoke;
        font-style: italic;
        box-shadow: grey 0px 7px 29px 0px;
        background-image: url('https://target.scene7.com/is/image/Target/GUEST_e5f2537d-1517-4758-be6d-ff9a964e249b');

        input{
            text-align: center;
            font-size: 16px;
          
        }
    }
    h3{
       font-style: italic;
    }
   
}