.obavestenjeCard{

    
    width:90%;
    margin:20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

.obavestenjeHeder, .obavestenjeFuter{
    background-color: #A3BCB6 !important;
   
}

.obavestenjeBody{
 
    background-color: lighten(#A3BCB6, 20%);
   
}



}