.sideEl{
    padding:10px;
    padding-left: 20px;
}

.sideEl:hover{
    background-color: #6c757d;
    cursor: pointer;
}

.ikonica{
    padding-right: 10px;
    font-size: 27px;
}

.obojena{
    color:dodgerblue !important;
    font-weight: bold;

}
.neobojena{
    color: #fff;
}