.stavkaOgl{

    margin:10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    p{
    font-size: 3vh;
    }


.pin{
    padding:5px;
    height:40px;
    width: 40px;
    align-self: flex-end;
    
}
}